/* making the home page navbar */
.navbar {
    background-color: #080d19;
}

.navbar-brand {
    color: #ffffff;
    font-weight: 700;
}

.navbar a {
    color: #e2e8f0;
    text-decoration: none;
}

.navbar a:hover {
    color: #7dd3fc;
}
.nav-links {
    display: flex;
    gap: 40px;
    padding-right: 70px;
}
 /* making the hero section on the homepage */
   .hero {
    height: 93vh;
    background: linear-gradient(
        135deg,
        #0f172a,
        #2563eb
    );
}

.hero .row {
    min-height: 90vh;
}

.hero h1 {
    color: #ffffff;
}

.hero h3,
.hero p {
    color: #f1f5f9;
}
.profile-img{
    height: 400px;
    width: 400px;
    
    border-radius: 50%;
    object-fit: cover;
     border: 7px solid #7dd3fc;
}
/* writing code for the about section */
.about-section{
    height: 110vh;
    background: linear-gradient(135deg, #0B1220, #172554, #1E40AF);
    color: #e2e8f0;
}
.about-image img{
     height: 350px;
    width: 300px;
    border: 6px solid #045073;
     border-radius: 12px;
      object-fit: cover;
}
.interest-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);

    padding: 25px;

    border-radius: 20px;

    text-align: center;

    color: white;

    transition: 0.3s;
}

.interest-card:hover {
    transform: translateY(-8px);
    background-color: rgba(255, 255, 255, 0.18);
    border-color: #60a5fa;
}

